.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    background-color: #23414d;
    /* Azul oscuro */
    color: #ffffff;
}

/* Logo */
.nav-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 45px;
    width: auto;
    object-fit: contain;
}

/* Navegación principal */
.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #ffffff;
    /* Naranja quemado */
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Login / Registro */
.nav-account {
    display: flex;
    gap: 1rem;
}

.login-btn,
.register-btn {
  color: #ffffff;                 /* Texto blanco */
  background-color: transparent; /* Fondo transparente */
  border: 1px solid #41D8C4;     /* Borde turquesa */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #41D8C4;     /* Fondo turquesa */
  color: #111827;                /* Texto oscuro al hacer hover */
}