@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo y fuente general */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9fafb;
  /* Fondo blanco humo */
  color: #111827;
  /* Texto gris muy oscuro */
  line-height: 1.6;
}

/* Enlaces */
a {
  color: #f97316;
  /* Naranja quemado */
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #d65a0b;
  /* Naranja quemado más oscuro */
}



/* Espaciado general */
main {
  padding: 2rem;
}

/* Footer genérico */
footer {
  background-color: #23414d;
  /* Azul oscuro */
  color: #f5f7ff;
  /* Blanco suave */
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}